<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29922646312-f8a6kt2frb66vgmr6fgk3n8mk54ngfpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29922646312-f8a6kt2frb66vgmr6fgk3n8mk54ngfpk</string>
	<key>API_KEY</key>
	<string>AIzaSyDM8oShsE9CvmfXmLNuH6tBl-YX-t_i2xg</string>
	<key>GCM_SENDER_ID</key>
	<string>29922646312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Friedman.CENT</string>
	<key>PROJECT_ID</key>
	<string>genome-e2802</string>
	<key>STORAGE_BUCKET</key>
	<string>genome-e2802.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29922646312:ios:a359739562140f4df2d81d</string>
</dict>
</plist>